<h2 mat-dialog-title class="titulo-centrado">Registrar Jugador(a)</h2>
<mat-dialog-content>
  <div class="example-container">
    <!-- Fila 1: CI, Nombre, y vista previa de la imagen -->
    <div class="fila">
      <mat-form-field class="input-item">
        <mat-label>Carnet de Identidad</mat-label>
        <input matInput maxlength="100" [(ngModel)]="ci" />
      </mat-form-field>
      <mat-form-field class="input-item">
        <mat-label>Nombres Jugador</mat-label>
        <input matInput maxlength="100" [(ngModel)]="nombre" />
      </mat-form-field>
      <!--<div class="input-item image-preview-container">
        <img *ngIf="imageSrc" [src]="imageSrc" alt="Vista previa" class="image-preview" />
      </div>-->
    </div>

    <!-- Fila 2: Primer Apellido, Segundo Apellido, y botón para cargar imagen -->
    <div class="fila">
      <mat-form-field class="input-item">
        <mat-label>Primer Apellido</mat-label>
        <input matInput maxlength="100" (input)="onInput($event)" [(ngModel)]="primerApellido" />
      </mat-form-field>
      <mat-form-field class="input-item">
        <mat-label>Segundo Apellido</mat-label>
        <input matInput maxlength="100" (input)="onInput($event)" [(ngModel)]="segundoApellido" />
      </mat-form-field>
      <!--<div class="input-item image-upload-container" id="hola">
        <input  type="file" accept="image/*" (change)="onFileSelected($event)">
       
      </div>-->
    </div>

    <!-- Fila 3: Fecha de Nacimiento, Posición y Posición Secundaria (solo selects) -->
    <div class="fila">
      <mat-form-field class="input-item">
        <mat-label>Fecha de Nacimiento</mat-label>
        <input matInput [matDatepicker]="picker" (input)="onInput($event)" readonly [(ngModel)]="fechaNac" />
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="input-item">
        <mat-label>Posición</mat-label>
        <mat-select [(value)]="posicion">
          <mat-option value= 1>Base</mat-option>
          <mat-option value= 2>Escolta</mat-option>
          <mat-option value= 3>Alero</mat-option>
          <mat-option value= 4>Ala-Pivot</mat-option>
          <mat-option value= 5>Pivot</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="input-item">
        <mat-label>Posición Secundaria</mat-label>
        <mat-select [(value)]="posicionSec">
          <mat-option value= 0>Ninguna</mat-option>
          <mat-option value= 1>Base</mat-option>
          <mat-option value= 2>Escolta</mat-option>
          <mat-option value= 3>Alero</mat-option>
          <mat-option value= 4>Ala-Pivot</mat-option>
          <mat-option value= 5>Pivot</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Fila 4: Estatura, Peso y Envergadura 
    <div class="fila">
      <mat-form-field class="input-item">
        <mat-label>Estatura</mat-label>
        <input matInput maxlength="100" (input)="onInput($event)" [(ngModel)]="estatura" />
      </mat-form-field>
      <mat-form-field class="input-item">
        <mat-label>Peso</mat-label>
        <input matInput maxlength="100" (input)="onInput($event)" [(ngModel)]="peso" />
      </mat-form-field>
      <mat-form-field class="input-item">
        <mat-label>Envergadura</mat-label>
        <input matInput maxlength="100" (input)="onInput($event)" [(ngModel)]="envergadura" />
      </mat-form-field>
    </div>-->
    <!--<div class="fila">
       Select para el campo "Genero" 
      <mat-form-field class="input-item">
        <mat-label>Género</mat-label>
        <mat-select [(ngModel)]="genero">
          <mat-option [value]="true">Masculino</mat-option>
          <mat-option [value]="false">Femenino</mat-option>
        </mat-select>
      </mat-form-field>
    
       Select para el campo "Experiencia Profesional"
      <mat-form-field class="input-item">
        <mat-label>Experiencia Profesional</mat-label>
        <mat-select [(ngModel)]="experienciaProfesional">
          <mat-option [value]="true">Sí</mat-option>
          <mat-option [value]="false">No</mat-option>
        </mat-select>
      </mat-form-field>
    </div>-->
    
  </div> 
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="success" (click)="registrarJugador()">Registrar</button>
  <button mat-raised-button color="warn" mat-dialog-close>Cancelar</button>
</mat-dialog-actions>
