<h2 mat-dialog-title>Registrar Campeonato</h2>
<mat-dialog-content>
    <div class="fila">
        <mat-form-field hintLabel="Nombre">
          <mat-label>Nombre Campeonato</mat-label>
          <input matInput #input placeholder="Nombre" (input)="onInput($event)" [(ngModel)]="nombre"/>
        </mat-form-field>
        <mat-form-field class="input-item">
          <mat-label>Gestion</mat-label>
          <mat-select [(ngModel)]="gestion">
            <mat-option [value]= "2027">2027</mat-option>
            <mat-option [value]= "2026">2026</mat-option>
            <mat-option [value]= "2025">2025</mat-option>
            <mat-option [value]= "2024">2024</mat-option>
            <mat-option [value]= "2023">2023</mat-option>
            <mat-option [value]= "2022">2022</mat-option>
            <mat-option [value]= "2021">2021</mat-option>
            <mat-option [value]= "2020">2020</mat-option>
            <mat-option [value]= "2019">2019</mat-option>
            <mat-option [value]= "2018">2018</mat-option>
            <mat-option [value]= "2017">2017</mat-option>
            <mat-option [value]= "2016">2016</mat-option>
            <mat-option [value]= "2015">2015</mat-option>
            <mat-option [value]= "2014">2014</mat-option>

          </mat-select>
        </mat-form-field>

      
        <!--<mat-form-field>
          <mat-label>Select me</mat-label>
          <mat-select>
            <mat-option value="option">Option</mat-option>
          </mat-select>
          <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
        </mat-form-field>-->
      </div>
</mat-dialog-content>
<mat-dialog-actions class="xd">
  <button mat-button (click)= "registrarCampeonato()">Registrar</button>
  <button mat-button mat-dialog-close>Cancelar</button>
</mat-dialog-actions>
<style>
.xd{
  display: flex;
  justify-content: flex-end; /* Alinea los botones a la derecha */
  gap: 10px; /* Espacio entre los botones */
  padding: 8px 0; /* Ajusta el espacio alrededor si es necesario */
}
.fila {
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
}
</style>