<mat-toolbar *ngIf="user" color="primary">
  <mat-toolbar-row >
    <span>AMBLP MANAGEMENT</span>
    <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu"  >
      <mat-icon class="example-icon">account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button (click)="logout()" mat-menu-item>Cerrar Sesion</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container autosize  >
  <mat-sidenav [opened]="true" mode="side" >

    <mat-nav-list *ngIf="user != null">
      <a mat-list-item [routerLink]=" ['/jugadores']" *ngIf="user.idRol == 4">
        <span class="entry">
          <mat-icon>person</mat-icon>
          <span>Jugadores | Varones</span>
        </span>
      </a>
      <a mat-list-item [routerLink]=" ['/jugadoras']" *ngIf="user.idRol == 4">
        <span class="entry">
          <mat-icon>person</mat-icon>
          <span>Jugadoras | Damas</span>
        </span>
      </a>
      <!--<a mat-list-item [routerLink]=" ['/habilitaciones']">
        <span class="entry">
          <mat-icon>person</mat-icon>
          <span>Habilitaciones</span>
        </span>
      </a>-->
      <a mat-list-item [routerLink]=" ['/clubes']" *ngIf="user.idRol == 2" >
        <span class="entry">
          <mat-icon>group</mat-icon>
          <span>Clubes</span>
        </span>
      </a>
      <a mat-list-item [routerLink]=" ['/equipos']" *ngIf="user.idRol == 4">
        <span class="entry">
          <mat-icon>person</mat-icon>
          <span>Equipos | Varones</span>
        </span>
      </a>
      <a mat-list-item [routerLink]=" ['/equiposDamas']" *ngIf="user.idRol == 4">
        <span class="entry">
          <mat-icon>person</mat-icon>
          <span>Equipos | Damas</span>
        </span>
      </a>
      <a mat-list-item [routerLink]=" ['/entrenadores']"*ngIf="user.idRol == 4">
        <span class="entry">
          <mat-icon>person</mat-icon>
          <span>Entrenadores</span>
        </span>
      </a>
      <a mat-list-item [routerLink]=" ['/partidos']" *ngIf="user.idRol == 2" >
        <span class="entry">
          <mat-icon>person</mat-icon>
          <span>Partidos | Varones</span>
        </span>
      </a>
      <a mat-list-item [routerLink]=" ['/partidos']" *ngIf="user.idRol == 2" >
        <span class="entry">
          <mat-icon>person</mat-icon>
          <span>Partidos | Damas</span>
        </span>
      </a>
      <a mat-list-item [routerLink]=" ['/campeonatos']" *ngIf="user.idRol == 2" >
        <span class="entry">
          <mat-icon>person</mat-icon>
          <span>Campeonatos</span>
        </span>
      </a>
      <a mat-list-item [routerLink]=" ['/escenarios']" *ngIf="user.idRol == 2" >
        <span class="entry">
          <mat-icon>person</mat-icon>
          <span>Escenarios</span>
        </span>
      </a>
      <a mat-list-item [routerLink]=" ['/escenarios']" *ngIf="user.idRol == 2" >
        <span class="entry">
          <mat-icon>person</mat-icon>
          <span>Usuarios</span>
        </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="contenedor">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<ngx-ui-loader
 fgsColor= "#c881ff"
 fgsPosition = "center-center"
 fgsType = "rectangle-bounce"
 logoPosition = "center-center"
 masterLoaderId = "master"
 text="Espere un momento"
 overlayBorderRadius = "0"
 overlayColor = "rgba(40, 40, 40, 0.8)"
 pbColor = "#9a76ec"
></ngx-ui-loader>