<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>AMBLP MANAGEMENT</span>
    <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu"  >
      <mat-icon class="example-icon">account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Ver perfil</button>
      <button  mat-menu-item>Cerrar Sesion</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container autosize  >
  <mat-sidenav [opened]="true" mode="side">
    <mat-nav-list>
      <a mat-list-item [routerLink]=" ['/']">
        <span class="entry">
          <mat-icon>house</mat-icon>
          <span>Dashboard</span>
        </span>
      </a>
      <a mat-list-item [routerLink]=" ['/jugadores']">
        <span class="entry">
          <mat-icon>person</mat-icon>
          <span>Jugadores</span>
        </span>
      </a>
      <a mat-list-item [routerLink]=" ['/clubes']" >
        <span class="entry">
          <mat-icon>group</mat-icon>
          <span>Clubes</span>
        </span>
      </a>
      <a mat-list-item [routerLink]=" ['/equipos']">
        <span class="entry">
          <mat-icon>person</mat-icon>
          <span>Equipos</span>
        </span>
      </a>
      <a mat-list-item [routerLink]=" ['/entrenadores']">
        <span class="entry">
          <mat-icon>person</mat-icon>
          <span>Entrenadores</span>
        </span>
      </a>
      <a mat-list-item>
        <span class="entry">
          <mat-icon>person</mat-icon>
          <span>Partidos</span>
        </span>
      </a>
      <a mat-list-item [routerLink]=" ['/campeonatos']">
        <span class="entry">
          <mat-icon>person</mat-icon>
          <span>Campeonatos</span>
        </span>
      </a>
      <a mat-list-item [routerLink]=" ['/escenarios']">
        <span class="entry">
          <mat-icon>person</mat-icon>
          <span>Escenarios</span>
        </span>
      </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="contenedor">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<ngx-ui-loader
 fgsColor= "#c881ff"
 fgsPosition = "center-center"
 fgsType = "rectangle-bounce"
 logoPosition = "center-center"
 masterLoaderId = "master"
 text="Espere un momento"
 overlayBorderRadius = "0"
 overlayColor = "rgba(40, 40, 40, 0.8)"
 pbColor = "#9a76ec"
></ngx-ui-loader>