<h2 mat-dialog-title>Registrar Equipo</h2>
<mat-dialog-content>
    <div class="fila">
        <mat-form-field hintLabel="Nombre">
          <mat-label>Nombre Equipo</mat-label>
          <input matInput #input placeholder="Nombre" (input)="onInput($event)" [(ngModel)]="nombre"/>
        </mat-form-field>
        <mat-form-field class="input-item">
          <mat-label>Categoria</mat-label>
          <mat-select [(ngModel)]="categoria">
            <mat-option [value]= "1">U19</mat-option>
            <mat-option [value]= "2">U22</mat-option>
            <mat-option [value]= "3">U25</mat-option>
            <mat-option [value]= "4">MAYOR</mat-option>

          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-item" *ngIf="categoria == 4">
            <mat-label>Division</mat-label>
            <mat-select [(ngModel)]="division">
              <mat-option [value]= "1">PRIMERA DE HONOR</mat-option>
              <mat-option [value]= "2">PRIMERA DE ASCENSO</mat-option>
              <mat-option [value]= "3">SEGUNDA DE ASCENSO</mat-option>

            </mat-select>
          </mat-form-field>

      
        <!--<mat-form-field>
          <mat-label>Select me</mat-label>
          <mat-select>
            <mat-option value="option">Option</mat-option>
          </mat-select>
          <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
        </mat-form-field>-->
      </div>
</mat-dialog-content>
<mat-dialog-actions class="xd">
  <button mat-button (click)= "registrarEquipo()">Registrar</button>
  <button mat-button mat-dialog-close>Cancelar</button>
</mat-dialog-actions>
<style>
.xd{
  display: flex;
  justify-content: flex-end; /* Alinea los botones a la derecha */
  gap: 10px; /* Espacio entre los botones */
  padding: 8px 0; /* Ajusta el espacio alrededor si es necesario */
}
.fila {
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
}
</style>